input::placeholder {
  /* Most modern browsers support this now. */
  color: #909;
}

.checkbox-custom {
  font-size: 18px;
}

.material-input {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  height: 55px;
  padding: 20px;
  font-size: 18px;
}

.material-password {
  input {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    height: 55px;
    padding: 20px;
    font-size: 18px;
  }

  .ant-input-suffix {
    font-size: 18px;
    right: 24px;
  }
}
.searchinput {
  .ant-input-search {
    border-radius: 6px;
    border: none;
    background-color: $color-light;
    input {
      background-color: transparent;
    }
    .ant-input-search-icon::before {
      border: none;
    }
  }
}

.avatar-stacked {
  .avatar {
    margin-right: -0.5rem !important;
    border: solid 2px #fff;
  }
}
.avatar {
  display: flex;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
  &.avatar-sm {
    width: 40px;
    height: 40px;
  }
}
.text-area-custom {
  height: 77px;
  width: 93%;
  border: 0;
  border-bottom: solid 1px $primary-orange;
}
.custom-phone-number input {
  border: none;
  border-bottom: solid 1px $primary-orange;
  outline: none;
}
.input-area-custom.ant-input {
  border: none;
  border-bottom: solid 1px $primary-orange;
  outline: none;
  padding: 0;
}
