@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "./variables.scss";
@import "./layout/auth-layout.scss";

html body {
  font-family: "Quicksand", sans-serif;
}
p {
  font-size: 16px;
}

/*css utility classes */
.page-title {
  font-size: 24px;
  font-weight: 700;
}
